#calculator {
    width: 50vmin;
    /*height: 50vmin;*/
    font-size: 5vmin;
    background-color: gray;
    font-family: sans-serif;
}

#display {
    background-color: blue;
    width: 95%;
    display: inline-block;
    text-align: right;
    overflow: auto;
}

button, #display {
    padding: 0.25em;
    font-family: inherit;
    margin: 2.5%;
    box-sizing: border-box;
    /*height: 15%;*/
}

#buttons {
    /*height: calc(45vmin - 7.5%);*/
    position: relative;
   background-color: aquamarine;
    /*overflow: auto;*/
}

button {
    /*margin: 2.08% 2.5% 2.08% 2.5%;*/
    float: left;
    font-size: inherit;
    display: inline-block;
    background-color: lightgray;
    border-radius: 0.25em;
    color: darkgray;
    width: 20%;
    /*height: 20%;*/
}

.clear {
    clear: left;
}

.number {
    
}

.operator {
    
}
