body {
    margin: 0;
}

.main-text
{
    position: absolute;
    top: 50%;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}


.carousel,
.item,
.active {
    height: 100%;

}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
    opacity: .5;
}