/*
*/

body {
    margin: 0;
}

.main-text
{
    position: absolute;
    top: 50%;
    width: 96.66666666666666%;
    color: #FFF;
}

.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}

.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}

.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
    opacity: .5;
}


.container {
  width: 100%;
  margin: 0 auto;
    position: relative;
}

.table-main {
    position: absolute;
    top: 50%;
    left: 22%;
    width: 59%;
}

.table-grids {
    width: 100%;
    margin: 3em 0em 0em 0em;
}

.price-block {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.price-block:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    z-index: 1;
}

.price-gd-top {
    background: #ea4c89;
    text-align: center;
}

.price-gd-top h4 {
    font-size: 1.4em;
    color: #fff;
    padding: 0.4em 1em;
    background: #d83675;
    letter-spacing: 1px;
}

.price-gd-top h3 {
    padding: 0.2em 0em 0em 0em;
    font-size: 5em;
    color: #fff;
}

.price-gd-top h3 span {
    font-size: 30px;
    vertical-align: top;
}

.price-gd-top h5 {
    font-size: 1.1em;
    color: #fff;
    padding: 0.3em 0.8em 0em;
    text-align: right;
    letter-spacing: 1px;
}

.price-gd-top.pric-clr1 h4 {
    background: #6ba52c;
}

.price-gd-top.pric-clr1 {
    background: #8aba56;
}

#privatelessons {
    font-size: 1.2rem;
    line-height: 2.5em;
}

/*#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }   
}

@keyframes slide {
    100% { left: 0; }   
}*/

.come-in {
    transform: translateX(-150px);
    animation: come-in 0.8s ease forwards;
    opacity: 0.5;
}

.come-in>p {
    color: white;
    opacity: 1;
}

.come-in:nth-child(odd) {
    animation-duration: 0.6s; /* So they look staggered */
}
    
@keyframes come-in {
    to { transform: translateX(0); }
}

.box {
    width: 20vw;
    background-color: blue;
}

@font-face {
    font-family: "Brush Script MT";
    src: url(BRUSHSCI.tff);
}

#name-logo {
    font-family: "Brush Script MT", cursive;
    font-size: 2em;
    vertical-align: middle;
}